MONGO_URI="mongodb://akashtrt31_db_user:6n1A321QHyse5qvQ@ac-51g9yd1-shard-00-00.gt7tgz1.mongodb.net:27017,ac-51g9yd1-shard-00-01.gt7tgz1.mongodb.net:27017,ac-51g9yd1-shard-00-02.gt7tgz1.mongodb.net:27017/?ssl=true&replicaSet=atlas-y3le2h-shard-0&authSource=admin&appName=Cluster0"
PORT=3001
